// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
$primary   : #4338ca
$secondary : #64748b
$accent    : #8b5cf6
$dark      : #1e293b
$positive  : #10b981
$negative  : #ef4444
$info      : #3b82f6
$warning   : #f59e0b
